{% extends './base.html'%}
{% comment %} {% load static %} 
<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'
        crossorigin='anonymous'>
    <style>body{padding-top:80px;}</style> 
</head>
<body class="container"> {% endcomment %}
    {%block content %}
    <h1 class="display-4 text-primary">{{title}}</h1>
    {% comment %}<p class="h-5 mt-4">{{message|safe}}</p>
    <form action="{% url 'index' %}"  method='post'>
        {% csrf_token %}
        {{ form }}
        <input type='submit' value='クリック'>
    </form> 
    <hr> {% endcomment %}
    <table class="table">
        <tr>
            <th>data</th>
        </tr>
        {% comment %} <tr>
            <th>ID</th>
            <th>名前</th>
            <th>性別</th>
            <th>メール</th>
            <th>年齢</th>
            <th>誕生日</th>
        </tr> {% endcomment %}
    {% for item in data %}
        <tr>
            {% comment %} <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{% if item.male == True %}男性{% endif %} 
            {% if item.male == False %}女性{% endif %} </td>
            <td>{{item.mail}}</td>
            <td>{{item.age}}</td>
            <td>{{item.birthday}}</td> {% endcomment %}
            <td>{{item}}</td>
            <td><a href={% url 'edit' item.id %}>編集</a></td>
            <td><a href={% url 'delete' item.id %}>削除</a></td>
        </tr>
        
    {% endfor %}
    </table> 
    <div>
        <a href='{% url "create" %}' class="btn btn-primary mt-2" >作成</a>
    </div>  
    {% endblock %}